version: "3.9"

services:
  scraper:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: selenium_scraper
    volumes:
      - ../app:/app/app
      - ../data:/app/data
    env_file:
      - ../.env
    # restart: unless-stopped
    command: python -m app.main
